html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

/* Custom colors and spacing if needed */
.mt-6 {
    margin-top: 4rem;
}

/* Card hover effects */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}